---

- name: Add vscode rpm key
  ansible.builtin.rpm_key:
    key: "{{ vscode_rpm_key_url }}"

- name: Add vscode repo
  ansible.builtin.yum_repository:
    name: code
    description: Visual Studio Code
    baseurl: "{{ vscode_yum_repository_url }}"
    gpgcheck: true
    file: "{{ vscode_package_name }}"

- name: Install latest visual studio code
  ansible.builtin.dnf:
    name: "{{ vscode_package_name }}"

- name: Install some popular vscode extensions
  ansible.builtin.command: code --install-extension {{ item }}
  loop: "{{ vscode_extensions }}"
  loop_control:
    pause: 0.5  # to avoid rate limiting
  become: true
  become_user: "{{ local_username }}"

...
