---

- name: Install zsh and other related packages
  ansible.builtin.dnf:
    name: "{{ zsh_packages }}"
    state: present

- name: Change user's shell to zsh
  ansible.builtin.user:
    name: "{{ local_username }}"
    shell: /bin/zsh

- name: Setup zinit and zsh configuration files
  become: true
  become_user: "{{ local_username }}"
  block:
    - name: Ensure zinit installation directory exists
      ansible.builtin.file:
        # Using ~ ensures expansion to the become_user's home
        path: "{{ zsh_zinit_install_path | expanduser }}"
        state: directory
        mode: '0755'

    - name: Clone zinit git repo
      ansible.builtin.git:
        repo: "{{ zsh_zinit_git_repo }}"
        dest: "{{ zsh_zinit_install_path | expanduser }}"
        version: main
        update: true

    - name: Check if .zshrc exists in user's home dir
      ansible.builtin.stat:
        path: "~{{ local_username }}/.zshrc"
      register: zsh_dotzshrc

    - name: Backup .zshrc if it exists
      ansible.builtin.copy:
        src: "~{{ local_username }}/.zshrc"
        dest: "~{{ local_username }}/.zshrc.orig"
        mode: '0644'
      when: zsh_dotzshrc.stat.exists

    - name: Copy the sample .zshrc file
      ansible.builtin.copy:
        src: .zshrc
        dest: "~{{ local_username }}/.zshrc"
        mode: '0644'
        force: true

    - name: Copy the sample .shell_*.sh files
      ansible.builtin.copy:
        src: "{{ item }}"
        dest: "~{{ local_username }}/{{ item }}"
        mode: '0644'
      with_items:
        - .shell_aliases.sh
        - .shell_functions.sh
        - .shell_variables.sh

...
