---

- name: Docker setup
  block:
    - name: Install docker packages
      ansible.builtin.dnf:
        name: "{{ virtualization_docker.packages }}"

    - name: Add user to docker group
      ansible.builtin.user:
        name: "{{ local_username }}"
        append: true
        groups: "{{ virtualization_docker.user_groups }}"

...
