---

- name: Docker setup
  block:
    - name: Install docker packages
      ansible.builtin.dnf:
        name: "{{ virtualization_docker.packages }}"

    - name: Add user to docker group
      ansible.builtin.user:
        name: "{{ local_username }}"
        append: true
        groups: "{{ virtualization_docker.user_groups }}"

- name: Install and configure QEMU/KVM with libvirt
  block:
    - name: Install virtualization package groups
      ansible.builtin.dnf:
        name: "{{ virtualization_kvm_qemu.package_groups }}"
        state: present
        install_weak_deps: true

    - name: Install virtualization packages
      ansible.builtin.dnf:
        name: "{{ virtualization_kvm_qemu.packages }}"
        state: present

    - name: Enable and start systemd services
      ansible.builtin.systemd:
        name: "{{ item }}"
        enabled: true
        state: started
      loop: "{{ virtualization_kvm_qemu.systemd_services }}"

    - name: Add current user to virtualization groups
      ansible.builtin.user:
        name: "{{ local_username }}"
        groups: "{{ virtualization_kvm_qemu.user_groups }}"
        append: true

    - name: Get the active physical NIC name
      ansible.builtin.set_fact:
        virtualization_active_nic: "{{ ansible_default_ipv4.interface }}"

    - name: Create host Linux bridge br0
      community.general.nmcli:
        conn_name: br0
        ifname: br0
        type: bridge
        method4: auto
        state: present
      async: 45
      poll: 5

    - name: Enslave physical NIC to bridge
      community.general.nmcli:
        conn_name: "bridge-slave-{{ virtualization_active_nic }}"
        ifname: "{{ virtualization_active_nic }}"
        type: ethernet      # The underlying hardware type
        slave_type: bridge  # The role it plays
        master: br0         # The controller it belongs to
        state: present
      async: 45
      poll: 5

    - name: Wait for bridge br0 to settle
      ansible.builtin.pause:
        seconds: 5

    - name: Force activation of bridge slave profile
      ansible.builtin.command: "nmcli connection up bridge-slave-{{ virtualization_active_nic }}"
      register: virtualization_nmcli_up
      changed_when: "'Connection successfully activated' in virtualization_nmcli_up.stdout"

    - name: Define bridged network XML
      community.libvirt.virt_net:
        name: bridged
        state: present
        xml: |
          <network>
            <name>bridged</name>
            <forward mode="bridge"/>
            <bridge name="br0"/>
          </network>

    - name: Ensure bridged network is active and autostarted
      community.libvirt.virt_net:
        name: bridged
        state: active
        autostart: true

    - name: Define isolated network XML
      community.libvirt.virt_net:
        name: isolated
        state: present
        xml: |
          <network>
            <name>isolated</name>
            <bridge name="virbr666" stp="on" delay="0"/>
            <ip address="10.66.6.1" netmask="255.255.255.0">
              <dhcp>
                <range start="10.66.6.66" end="10.66.6.254"/>
              </dhcp>
            </ip>
          </network>

    - name: Ensure isolated network is active and autostarted
      community.libvirt.virt_net:
        name: isolated
        state: active
        autostart: true

    - name: Ensure all libvirt networks are active and set to autostart
      community.libvirt.virt_net:
        name: "{{ item }}"
        state: active
        autostart: true
      loop: "{{ virtualization_kvm_qemu.networks }}"

    - name: Force autostart persistence for all networks
      ansible.builtin.command: "virsh net-autostart {{ item }}"
      loop: "{{ virtualization_kvm_qemu.networks }}"
      register: virtualization_autostart_results
      changed_when: "'marked as autostarted' in virtualization_autostart_results.stdout"
      failed_when:
        - autostart_results.rc != 0
        - "'already marked as autostarted' not in autostart_results.stderr"
