---

- name: Docker setup
  block:
    - name: Install docker packages
      ansible.builtin.dnf:
        name: "{{ virtualization_docker.packages }}"
        state: present

    - name: Add user to docker group
      ansible.builtin.user:
        name: "{{ local_username }}"
        append: true
        groups: "{{ virtualization_docker.user_groups }}"

- name: Install and configure QEMU/KVM with libvirt
  block:
    - name: Install virtualization package groups
      ansible.builtin.dnf:
        name: "{{ virtualization_kvm_qemu.package_groups }}"
        state: present
        install_weak_deps: true

    - name: Install virtualization packages
      ansible.builtin.dnf:
        name: "{{ virtualization_kvm_qemu.packages }}"
        state: present

    - name: Enable and start systemd services
      ansible.builtin.systemd:
        name: "{{ item }}"
        enabled: true
        state: started
      loop: "{{ virtualization_kvm_qemu.systemd_services }}"

    - name: Add current user to virtualization groups
      ansible.builtin.user:
        name: "{{ local_username }}"
        groups: "{{ virtualization_kvm_qemu.user_groups }}"
        append: true

    - name: Define isolated network XML
      community.libvirt.virt_net:
        name: isolated
        state: present
        xml: |
          <network>
            <name>isolated</name>
            <bridge name="virbr666" stp="on" delay="0"/>
            <ip address="10.66.6.1" netmask="255.255.255.0">
              <dhcp>
                <range start="10.66.6.66" end="10.66.6.254"/>
              </dhcp>
            </ip>
          </network>

    - name: Ensure isolated network is active and autostarted
      community.libvirt.virt_net:
        name: isolated
        state: active
        autostart: true

    - name: Ensure all libvirt networks are active and set to autostart
      community.libvirt.virt_net:
        name: "{{ item }}"
        state: active
        autostart: true
      loop: "{{ virtualization_kvm_qemu.networks }}"

...
