---

- block:
  - name: Install docker packages
    ansible.builtin.dnf:
      name: "{{ virtualization_docker_packages }}"

  - name: Enable docker service on boot
    ansible.builtin.systemd:
      name: docker.service
      state: started
      enabled: true

  - name: Add user to docker group
    ansible.builtin.user:
      name: "{{ local_username }}"
      append: true
      groups:
        - docker
